---
import {SITE} from '../config.ts'
const title = "Tirop's Angels"
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{title} | {SITE.title}</title>
	<meta name="description" content={SITE.description}>
	<link rel="icon" type="image/x-icon" href="/logo.png" />
</head>
<body>
<main class="m-0">
<div class="flex justify-center items-center h-screen">
<div class="inline-block rounded-xl font-medium cursor-pointer text-center text-xs p-10 bg-red-600/80 hover:bg-red-600 rounded-xl shadow-2xl hover:shadow-inner">
<a href="/overview">
<h1 class="text-white font-semibold text-xl md:text-5xl pb-8">Tirop's Angels</h1>
<p class="text-white font-semibold text-xl">Enter here</p></a>
</div>
</div>
</main>
</body>
</html>

<style>
    body, html {
        height: 100%;
        padding: 0;
        margin: 0;
    }
    main {
        background-image: url("/assets/_MG_8383-dt.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>