---
import PageLayout from '../layouts/PageLayout.astro'
import { Markdown } from 'astro/components'
const { content } = Astro.props
---
<PageLayout content={content}>
    <section>
  			<Markdown>
            <h2>{content.title}</h2>
  			</Markdown>
        <slot />
    </section>
</PageLayout>