---
import PageLayout from '../layouts/PageLayout.astro'
const data = Astro.fetchContent('../pages/plan/*.md')
const { content } = Astro.props
---
<PageLayout content={content}>
			<section class="prose prose-sm md:prose-base xl:prose-xl max-w-none">
				<h2>{content.title}</h2>
				<slot />
			</section>
			<aside class="prose">
				<h3>The plans:</h3>
				<ul>{data.map((post) => (
					<li><a href={post.url}>{post.link}</a></li>
				))}
				</ul>
			</aside>
</PageLayout>

<style>
	aside {
		@apply grow
	}
</style>