---
import PageLayout from '../layouts/PageLayout.astro'
import { Markdown } from 'astro/components'
const data = Astro.fetchContent('../pages/plan/*.md')
const { content } = Astro.props
---
<PageLayout content={content}>
			<section>
                <h2>{content.title}</h2>
				<Markdown>
				<slot />
				</Markdown>
			</section>
			<aside>
				<ul>{data.map((post) => (
					<li><a href={post.url}>{post.title}</a></li>
				))}
				</ul>
			</aside>
</PageLayout>

<style>
    section {
		@apply prose
    }
</style>